In [7]:
!pip install unidecode

Requirement already satisfied: unidecode in /Users/valeriaminano/opt/anaconda3/lib/python3.9/site-packages (1.2.0)

In [2]:
# Tabla de datos
import pandas as pd
import os

datadis=pd.read_excel(os.path.join('data','indicadores_Peru.xls'),dtype={'Ubigeo': object})
datadis.head()

,Ubigeo,Departamento,Provincia,Distrito,Poblacion,Superficie,hogares_saneamiento_pct,poblacion_pobreza_PCT,viviendas_con_servicio_de_luz
0,10202,Amazonas,Bagua,ARAMANGO,10940,"809,07",61.44,"62,90",78.372
1,10201,Amazonas,Bagua,BAGUA,26091,"150,99",89.46,"25,40",24.750
2,10302,Amazonas,Bongara,CHISQUILLA,335,"174,96",88.2,"59,80",44.064
3,10102,Amazonas,Chachapoyas,ASUNCION,288,"25,71",73.42,"73,40",57.303
4,10103,Amazonas,Chachapoyas,BALSAS,1644,"357,09",89.8,"37,80",46.188

In [4]:
#Mapa
os.environ['USE_PYGEOS'] = '0'

import geopandas as gpd

dataDisMap=gpd.read_file(os.path.join('maps','DistritosMap'))

dataDisMap.head()

,DEPARTAMEN,PROVINCIA,DISTRITO,INSTITUCIO,geometry
0,TACNA,TACNA,CORONEL GREGORIO ALBARRACIN LANCHIPA,IGN,"POLYGON ((-70.17413 -18.12896, -70.17461 -18.1..."
1,TACNA,TACNA,POCOLLAY,IGN,"POLYGON ((-69.93475 -17.92557, -69.90467 -17.9..."
2,TACNA,TACNA,CALANA,IGN,"POLYGON ((-70.11604 -17.91106, -70.11457 -17.9..."
3,TACNA,TACNA,TACNA,IGN,"POLYGON ((-70.31490 -17.94498, -70.30682 -17.9..."
4,TACNA,TACNA,SAMA,IGN,"POLYGON ((-70.42497 -17.88934, -70.48022 -17.9..."

In [5]:
#PreProcessing

In [17]:
capitalizeColumns=lambda x: x.str.upper().str.strip()
datadis[['Provincia','Distrito']]=datadis[['Provincia','Distrito']].apply(capitalizeColumns)
dataDisMap[['PROVINCIA','DISTRITO']]=dataDisMap[['PROVINCIA','DISTRITO']].apply(capitalizeColumns)

In [ ]:
import unidecode

byePunctuation=lambda x: unidecode.unidecode(x)
datadis[['Provincia','Distrito']]=datadis[['Provincia','Distrito']].applymap(byePunctuation)
datadismap[['PROVINCIA','DISTRITO']]=datadismap[['PROVINCIA','DISTRITO']].applymap(byePunctuation)

In [14]:
len(datadis.Distrito),len(dataDisMap.DISTRITO)

(16383, 1874)

In [15]:
datadis.Distrito.duplicated().sum(),dataDisMap.DISTRITO.duplicated().sum()

(16106, 152)